

<button (click)="StudentSchoolResult()">Get Result</button>
<h1>{{studentResult}}</h1>


<button id="btnincreaseNumber" (click)="increaseNumber()">Increase Number</button>

<button id="btndecreaseNumber" (click)="decreaseNumber()">Decrease Number</button>
<h1>{{CountNumber}}</h1>



<button id="button1" (click)="button1Click()">Button1 Click Event</button>
<br>
<br>

<button id="button2" (click)="button2Click()">Button2 Click Event</button>
<br>
<br>

<input id="textbox1" placeholder="button1 on value change" (input)="onChangeInput()">
<br>
<br>

<input id="textbox2" placeholder="capture the event of the input" (input)="onChangeLabelInput($event)">
<br>
<br>


<button>Button2 Click Event</button>

<h3>{{label}}</h3>

<input type="text" id="name" [(ngModel)]="studentName">
<h2>{{studentName}}</h2>

<button (click) = "setName()" id="buttons">Button1</button>

<button (click)="buttonClick()" id="clickMe">Click Me</button>

<router-outlet />
